<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigMapper">
  <resultMap id="BaseResultMap" type="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="copyright" jdbcType="VARCHAR" property="copyright" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, contact_email, copyright, domain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bc_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bc_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    insert into bc_config (id, title,
      contact_email, copyright, domain
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},
      #{contactEmail,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    insert into bc_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="copyright != null">
        copyright,
      </if>
      <if test="domain != null">
        domain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null">
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    update bc_config
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null">
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    update bc_config
    set title = #{title,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="copyright" jdbcType="VARCHAR" property="copyright" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, contact_email, copyright, domain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bc_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bc_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    insert into bc_config (id, title,
      contact_email, copyright, domain
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},
      #{contactEmail,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    insert into bc_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="copyright != null">
        copyright,
      </if>
      <if test="domain != null">
        domain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null">
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    update bc_config
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null">
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whatakitty.jmore.blog.infrastructure.repository.mybatis.config.ConfigDO">
    update bc_config
    set title = #{title,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>